:root {
    --text: black;
    --background: white;
    --gap-size: 10px;
}

/* Removes all the stupid things from browser and makes sure everything fits well. */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

body {
    min-height: 100vh;
    color: var(--text);
    font-family: sans-serif;
    background: var(--background);
}

/* Makes sure that images always fit and are visible. */
img, picture, svg, video {
    display: block;
    max-width: 100%;
}

/* Makes sure that all clickable have a pointer cursor. */
label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}

.gallery {
    display: flex;
    gap: var(--gap-size);
    padding: var(--gap-size);
}

.gallery .column {
    display: flex;
    flex-direction: column;
    gap: var(--gap-size);

    width: 25%;
}

.gallery .image_container {
    display: flex;
    flex-direction: column;
    position: relative;

    overflow: hidden;

    border-radius: 15px;
}

.gallery .image_container:hover img {
    filter: blur(8px);
}

.gallery .image_container:hover span {
    visibility: visible;
    z-index: 1;
    top: calc(50% - 30px);
    cursor: pointer;
}

.gallery span {
    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    position: absolute;
    top: calc(45% - 30px);
    left: calc(50% - 30px);
    transition: top .2s ease-in-out;

    font-size: 50px;
    color: black;
    background: white;
    border-radius: 5px;
    border: 3px solid black;

    width: 60px;
    aspect-ratio: 1/1;
}

.gallery img {
    border-radius: 15px;
    transition: filter .2s ease-in-out;
}

.spin-ani {
    animation: spin .3s ease-in-out;
}

@keyframes spin {
    1% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}